/*  your css code here. If applicable */
.middle{ margin: auto;
		    width: 60%;}
table{
    border: 1px solid black;
    border-spacing: 1px;
}
td{height:20px;
   width:65px;
    padding: 1px;
    border: 1px solid black;
}
.center{
    text-align: center;
}
h1{text-align: center;}

.right{
    text-align: right;}

.t3-r1{background-color:green;}
.t3-r2{background-color:blue;}